<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <br>
    <h3>Opciones</h3>
      <ul>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="/empleados">Empleados</a></li>
        <li><a href="/productos">Productos</a></li>
    </ul>
  </body>
</html>
